<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reset your password</title>
  </head>
  <body>
    <h1>Reset your password</h1>
    <p>It appears you've requested to change your password, please press the link below to change your password.</p>
    <a style="text-decoration: none; padding: 8px 16px; background-color: lightblue; color: black" href="{{ link }}"
      >Reset password</a
    >
    <p>If you did not request to change your password, please ignore this email.</p>
  </body>
</html>
